
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<p>#1 Profilim</p>
<p>#2 Tüm Başliklarda Paging</p>
<p>#3 Mesajlarda Session</p>
<p>#4 Oturum Yönetimin Mimariye Taşinmasi</p>
<p>#5 Tokken Kullanimi</p>

